{% extends "repos/base.html" %}

{% load static %}

{% block content %}
  <h1>Your Profile</h1>
  
  <div class="center-column">
  <!--  <div class="status-box">-->
  <!--    <div class="status-box-repo">-->
  <!--      jamstooks/my-app-->
  <!--    </div>-->
  <!--    <div class="status-box-toggle inactive">off</div>-->
  <!--  </div>-->
    
  <!--  <div class="status-box">-->
  <!--    <div class="status-box-repo">-->
  <!--      jamstooks/my-verylong-app-name-->
  <!--    </div>-->
  <!--    <div class="status-box-toggle loading"></div>-->
  <!--  </div>-->
    
  <!--  <div class="status-box">-->
      
  <!--    <div class="status-box-repo">-->
  <!--      <a href="#">-->
  <!--        jamstooks/django-celery-downloader-->
  <!--      </a>-->
  <!--    </div>-->
      
  <!--    <div class="status-box-settings"></div>-->
      
  <!--    <div class="status-box-toggle active"></div>-->
  <!--  </div>-->
    <div id="profileApp"></div>
  </div>
  
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static main_js %}"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <!--<link rel="stylesheet" href="{% static main_css %}">-->
{% endblock %}
