{% extends "repos/base.html" %}

{% load static %}

{% block content %}
  <h1>Your Profile</h1>
  
  <div class="center-column">
    <div class="status-box">
      <div class="status-box-repo">
        jamstooks/my-app
      </div>
      <div class="status-box-toggle">
        <img src="{% static 'img/toggle_off.svg' %}" alt="OFF"/>
      </div>
    </div>
    
    <div class="status-box">
      <div class="status-box-repo">
        jamstooks/my-verylong-app-name
      </div>
      <div class="status-box-toggle loading">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
    </div>
    
    <div class="status-box">
      
      <div class="status-box-repo">
        <a href="#">
          jamstooks/django-celery-downloader
        </a>
      </div>
      
      <div class="status-box-settings">
        <a href="#">
          <span class="octicon octicon-gear"></span>
        </a>
      </div>
      
      <div class="status-box-toggle active">
        <img src="{% static 'img/toggle_on.svg' %}" alt="ON"/>
      </div>
    </div>
  </div>
  
  <div id="app"></div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static main_js %}"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static main_css %}">
{% endblock %}
