{% extends "repos/base.html" %} {% block content %}

{% load static %}

<a
    href="{% url 'repos:repo-detail' repo.prefix repo.name %}"
    class="back-button">&lt;&lt;</a>

    <h1>
        <a href="{% url 'repos:prefix-repo-list' repo.prefix%}">
    {{ repo.prefix }}</a>/{{ repo.name }}</h1>
    
    <div class="center-column">
        <div class="repo-settings">
          <div class="grid-container">
            <div class="integration-grid">
                <div class="integration-logo html active"></div>
                <div class="integration-logo travis active"></div>
            </div>
          </div>
        
        
          <div class="config">
              <div class="back-button">&lt;&lt;</div>
              <div class="toggle-switch inactive"></div>
              
              <p class="details">
                <strong>HTML Validation</strong>
                - service provided by
                <a href="#">W3C.org</a>
              </p>
              
              <p class="warning">URL is required to activate.</p>
              <form action="" method="get" class="integration-form">
                <div>
                  <label for="name">
                    URL to Validate:
                    <p class="warning">Invalid URL.</p>
                  </label>
                  <input type="url" name="name" id="name" required>
                </div>
                <div>
                  <label for="delay">Delay (seconds): </label>
                  <input type="number" name="delay" id="delay">
                </div>
              </form>
              <p class="notes">
                Currently we only support one URL per repo.
              </p>
          </div>
        </div>
    </div>
{% endblock %}
