{% extends "repos/base.html" %}

{% load static %}

{% block content %}

  <div class="badge-box">
    <img id="badge" src="{% static repo.get_badge_path %}" alt="badge" />
  </div>
  
  {{ block.super }}

  <div class="center-column narrow">
      {% for status in status_list %}
          <div class="status-box {{ status.status }}">
              <div class="status-box-logo {{ status.integration.integration_type }}-integration-background"></div>
              <div class="status-box-icon {{ status.status }}"></div>
              <div class="status-box-detail">
                  {% if status.value %}
                    {{ status.value|title }}
                  {% else %}
                    {{ status.get_status_display }}
                  {% endif %}
              </div>
          </div>
      {% endfor %}
  </div>
  
  <div id="modal" style="display: none;">
    {% include 'repos/badge_modal.html' %}
  </div>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.13.2/tingle.min.css" />
{% endblock %}

{% block js %}
  {{ block.super }}
  
  {% if repo.latest_commit and repo.latest_commit.waiting_count %}
  <script>
    /**
     * Reload every 15 seconds when waiting
     */
    setTimeout(function(){ location.reload(); }, 15000);
  </script>
  {% endif %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.13.2/tingle.min.js"></script>
  <script>
    // instanciate new modal
    var modal = new tingle.modal({
        footer: false,
        stickyFooter: false,
        closeMethods: ['overlay', 'button', 'escape'],
        closeLabel: "Close",
        cssClass: ['badge-modal'],
    });
    
    // set content
    modal.setContent($('#modal').html());
    
    $("#badge").on('click', function() {
      console.log('here');
      modal.open();
    });
  </script>
{% endblock %}
