{% extends "repos/base.html" %} {% block content %}


<h1>{{ prefix }}</h1>

<div class="center-column">

  {% if repo_list %} {% for repo in repo_list %}

  <div class="repo-box">
    <div class="repo-box-repo">
      <a href="{% url 'repos:repo-detail' repo.prefix repo.name %}">
          {{repo.full_name}}
        </a>
    </div>
    <div class="repo-box-settings">
      <a href="{% url 'repos:repo-settings' repo.prefix repo.name %}"></a>
    </div>
  </div>

  {% endfor %} {% else %}

  <p>No Connected Repositories</p>

  {% endif %}
</div>
{% endblock %}
