{% extends "repos/base.html" %}

{% block content %}

  {{ block.super }}

  <div class="center-column narrow">
      {% for status in status_list %}
          <div class="status-box {{ status.status }}">
              <div class="status-box-logo {{ status.integration.integration_type }}-integration-background"></div>
              <div class="status-box-icon"></div>
              <div class="status-box-detail">
                  {% if status.value %}
                    {{ status.value|title }}
                  {% else %}
                    {{ status.get_status_display }}
                  {% endif %}
              </div>
          </div>
      {% endfor %}
  </div>
{% endblock %}
