{% extends "repos/base.html" %}

{% block content %}

  {{ block.super }}

<div class="center-column">

  {% if repo_list %}
  
    {% for repo in repo_list %}
  
    <div class="repo-box">
      <div class="repo-box-repo">
        <a href="{{ repo.url }}">
            {{repo.full_name}}
          </a>
      </div>
      {% if prefix_matches_user %}
        <div class="repo-box-settings">
          <a href="{{ repo.settings_url }}"></a>
        </div>
      {% endif %}
      {% if repo.waiting_count %}
        <div class="repo-box-waiting-icon"></div>
      {% else %}
        {% if repo.pass_count is not None %}
          <div class="repo-box-pass-icon icon{{ repo.pass_count }}"></div>
          <div class="repo-box-fail-icon icon{{ repo.fail_count }}"></div>
        {% endif %}
      {% endif %}
    </div>

  {% endfor %}
  {% else %}
    <p>No Connected Repositories</p>
  {% endif %}
</div>
{% endblock %}
