{% extends "repos/base.html" %} {% load static %} {% block content %}

<a href="{% url 'repos:repo-detail' repo.prefix repo.name %}" class="back-button">&lt;&lt;</a>

<h1>
  <a href="{% url 'repos:prefix-repo-list' repo.prefix%}">
    {{ repo.prefix }}</a>/{{ repo.name }}</h1>

<div class="center-column">

  <script>
    window.repo = { github_id: {{ repo.github_id }} };
  </script>
  <div id="settingsApp"></div>
</div>
{% endblock %} {% block js %} {{ block.super }}
<script src="{% static main_js %}"></script>
{% endblock %}
