{% extends "repos/base.html" %}

{% load static %}

{% block content %}

<!--<a href="{% url 'repos:repo-detail' repo.prefix repo.name %}" class="back-button">&lt;&lt;</a>-->

  {{ block.super }}

<div class="center-column">

  <script>
    window.repo = { github_id: {{ repo.github_id }} };
  </script>
  <div id="settingsApp"></div>
  <div>
    <p style="text-align: center"><br/><br/>More integrations coming soon!</p>
  </div>
</div>
{% endblock %} {% block js %} {{ block.super }}
<script src="{% static main_js %}"></script>
{% endblock %}
