{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <title>
    {% block title %}consistently.io - development goals{% endblock %}
  </title>
  
  {% block css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" integrity="sha256-pNGG0948CVwfHxxS8lVkUKftaSsMBzFSUknrKr2utfY=" crossorigin="anonymous" />

  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/core.css' %}">
  <link rel="stylesheet" href="{% static 'css/repos.css' %}">
  <link rel="stylesheet" href="{% static 'css/repo-settings.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/integrations.css' %}">
  <link rel="stylesheet" href="{% static 'css/status.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}
</head>

<body>
  
  <!-- nav -->
  {% include 'nav.html' %}
  
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  
    <!--<footer>-->
    <!--  <p>-->
    <!--    Something Simple by<br>-->
    <!--    <a href="#" class="brand">B.W. Stooks</a>-->
    <!--  </p>-->
    <!--</footer>-->

  {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/2.3.3/cash.min.js"></script>
    <script src="{% static 'js/core.js' %}"></script>
  {% endblock %}
</body>

</html>
