{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="">

  <title>consistently.io - development goals</title>
  
  {% block css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Pacifico|Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" integrity="sha256-pNGG0948CVwfHxxS8lVkUKftaSsMBzFSUknrKr2utfY=" crossorigin="anonymous" />
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/core.css' %}">
  <link rel="stylesheet" href="{% static 'css/repos.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  
  {% endblock %}
</head>

<body>
  
  <!-- nav -->
  {% include 'nav.html' %}
  
  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <!--
  <nav class="navbar navbar-expand-md justify-content-md-center navbar-light mb-4" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="/u/">
        <img src="{% static 'img/logo.svg' %}" class="logo">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="authdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
        <div class="dropdown-menu" aria-labelledby="authdrop">
          <a class="dropdown-item" href="{% url 'repos:profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'social:begin' 'github' %}">Sign in with Github</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <main role="main" class="container">
  </main>
  
  
    <footer>
      <p>
        Something Simple by<br>
        <a href="#" class="brand">B.W. Stooks</a>
      </p>
    </footer>
  -->

  {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/2.3.3/cash.min.js"></script>
    <script src="{% static 'js/core.js' %}"></script>
  {% endblock %}
</body>

</html>
