body {
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  padding: 0;
}

.nav {
    background-color: whitesmoke;
    width: 100%;
}

.center {
    text-align: center;
}

main {
    min-height: calc(100vh - 16em);
}

.navbar {
    background-color: whitesmoke;
    line-height: 2.5;
    border-bottom: 5px solid lightgrey;
}

.logo {
    height: 4em;
}

h1 {
    line-height: 1.6;
    font-size: 1.9em;
}

.repo-box {
    background-color: WhiteSmoke;
    color: dimgrey;
    margin-bottom: .7em;
    font-size: 1.6em;
    line-height: 2.5;
}

.repo-box-status {
    text-align: center;
    font-size: 2.2em;
    line-height: 1.1;
    cursor: pointer;
    background-color: darkgrey;
    color: grey;
}

/*.repo-box-status-unconnected {*/
/*    background-color: darkgrey;*/
/*    color: grey;*/
/*}*/

.repo-box-status:hover {
    /*background-color: lightgrey;*/
    /*color: dimgrey;*/
    color: lightgrey;
}

.repo-box-status.connected {
    background-color: #b6d7a8;
    color: #6aa84f;
}

/*.repo-box-status .fa.fa-toggle-off,*/
/*.repo-box-status.connected .fa.fa-toggle-on {*/
/*    display: inline-block;*/
/*}*/

/*.repo-box-status .fa.fa-toggle-on,*/
/*.repo-box-status.connected .fa.fa-toggle-off {*/
/*    display: none;*/
/*}*/

/*.repo-box-status.connected .fa.fa-toggle-on {*/
/*    display: inline-block;*/
/*}*/

/*.repo-box-status.connected .fa.fa-toggle-off {*/
/*    display: none;*/
/*}*/

.repo-box-status.connected:hover {
    background-color: #b6d7a8;
    color: #38761d;
}

.repo-box a  {
    color: inherit;
}

.repo-box-settings {
    font-size: 1.5em;
    line-height: 1.6;
    cursor: pointer;
}

.hidden {
    display: none;
}

.repo-box-settings:hover {
    color: #444;
}

footer {
    background-color: #eee;
    padding: 3em 5em;
    margin: 2em 0 0 0;
    font-size: .8em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: grey;
    border-top: 5px solid lightgrey;
}

footer .brand {
    font-size: 2em;
    font-family: 'Pacifico', sans-serif;
    color: darkgrey;
}
