.nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: 1.5em;
}

.nav>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: .4em 1.5em;
}

.nav-right:hover {
    color: #444;
    cursor: pointer;
}

.logo {
    height: 2.7em;
}

.nav-img {
    height: 1.5em;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#right-menu {
    right: 1.5em;
    /*text-align: right;*/
    /*filter: drop-shadow(-4px 4px 4px #999);*/
    box-shadow: -1px 2px 3px darkgrey;
}

#left-menu {
    left: 1.5em;
    box-shadow: 1px 2px 3px darkgrey;
}

.menu {
    position: absolute;
    top: 5.6em;
    padding: 0;
    margin: 0;
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 100;
}

.menu a,
.menu a:visited {
    color: dimgrey;
    text-decoration: none;
    display: block;
    padding: .75em 2em;
}

.menu a:hover {
    color: #444;
    background-color: #ccc;
}

.hidden {
    display: none;
}
