.status-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: whitesmoke;
}

.status-box > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.status-box a, .status-box a:visited {
    color: #222;
    text-decoration: none;
}

.status-box a:hover {
    color: #666;
}

.status-box .repo-name {
    flex-grow: 10;
    text-align: left;
}

.status-box-repo, .status-box-settings {
    padding: .2em .5em;
    font-size: 1.3em;
    /*background-color: whitesmoke;*/
    color: grey;
}

.status-box-settings {
    flex-grow: 1;
    text-align: right;
}

.status-box-toggle {
    /*width: 1.2em;*/
    font-size: 2em;
    /*padding: .1rem 1.5rem;*/
    margin: 0;
    line-height: 1.2;
    cursor: pointer;
    background-color: darkgrey;
    color: grey;
    flex-grow: 1;
    max-width: 3em;
    text-align: center;
    padding: .2em .5em;
}

.status-box-toggle img {
    width: 2.2em;
    margin: 0 .5em;
}

.status-box-toggle.active {
    background-color: #b6d7a8;
    color: #6aa84f;
}

.status-box-toggle.active > .fas {
    transform: rotate(180deg);
}
